html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#container{
    width: 400px;
    margin: 0 auto;
    background-color: black;
    color: white;
}
#screen{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 18pt;
}
.btn-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.calc-btn{
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 18pt;
    height: 100px;
    flex-basis: 24.5%;
}
.calc-btn:active{
    background-color: #bbbcbe;
}
.calc-btn:hover{
    background-color: #ebebeb;
}
.dbl-col{
    flex-basis: 49.7%;
}
.tpl-col{
    flex-basis: 74.8%;
}
.calc-btn:last-child{
    background-color: #756b60;
    color: white;
}
.calc-btn:last-child:hover{
    background-color: #3f3c3a;
}
.calc-btn:last-child:active{
    background-color: #6f5d4a;
}
