html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#container{
    width: 400px;
    border: 2px solid red;
    background-color: black;
    color: white;
}
#screen{
    /* border: 2px solid blue; */
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 18pt;
}
#buttons{
    /* border: 2px solid black; */
}
.btn-row{
    /* border: 2px solid green; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.calc-btn{
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 18pt;
    height: 100px;
    flex-basis: 24.5%;
}
.calc-btn:active{
    background-color: #bbbcbe;
}
.calc-btn:hover{
    background-color: #bbbcbe;
}