html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#container{
    width: 400px;
    border: 2px solid red;
}
#screen{
    border: 2px solid blue;
}
#buttons{
    border: 2px solid black;
}