*{
    /* box-sizing: border-box; */
}
#btns{
    width:40vw;
    /* height: 80vh; */
    background-color: rgb(212, 214, 82);
    margin:3rem auto;
}
input[type="text"]{
    width: 98.5%;
    height: 5rem;
    margin-bottom: 0.5rem;
}
#inputs{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-columns: repeat(2, minmax(100px, auto)); */
    /* grid-template-columns: repeat(2, auto); */
    gap: 0;

    
}
button{
    box-sizing: border-box;
    /* padding: 0; */
    /* margin: 0; */
}
.formula_form button{
    background-color: green;
    width: 4.7rem;
    height: 4rem;
    /* border: 0.1rem solid black ; */
    border: none;
    margin: 0.04rem;
}
#controls_form button{
    width: 10rem;
    height: 4rem;
    margin-bottom: 0.1rem;
}
#controls_form button:nth-child(6){
    margin-bottom: 0;
    /* width: 10rem; */
    /* height: 4rem; */
}
#controls{
    /* margin-bottom: 0; */
    /* border: 2px solid black; */
}
#numbers_formula{
    margin-right: 0;
    /* border: 2px solid red; */
}